.header {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  max-width: 568px;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  max-width: 750px;
  margin-bottom: 24px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobStyles {
  display: none;
}
.imgContainer {
  max-width: 568px;
  margin-bottom: 24px;
  img {
    width: 100%;
  }
}
.textContainer {
  height: 234px;
  overflow: auto;
}
.charitySignContainer {
  display: flex;
  justify-content: right;
  max-height: 100px;
  img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
  }
}
.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  max-width: 568px;
}
.leftContainer {
  max-width: 473px;
  border: 1px solid #e9e9e9;
  border-radius: 24px;
  padding: 16px 20px 0px 20px;
}
.enquireNow {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  margin-left: 20px;
  margin-bottom: 16px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1190px) {
  .container {
    display: none;
  }
  .mobStyles {
    display: block;
  }
  .title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
    max-width: 100%;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    max-width: 326px;
  }
  .leftContainer {
    max-width: 326px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}
