.participantServicesSection {
  background-image: url('../../assets/employment-hub-bg.png');
  max-width: 1440px;
  height: 630px;
  position: relative;
  border-bottom: 8px solid #ee3524;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;
}
.underlineContainer {
  position: absolute;
  top: 280px;
  left: 870px;
  z-index: 0;
  img {
    width: 226px;
  }
}
.roundArrowContainer {
  position: absolute;
  top: 130px;
  left: 355px;
  z-index: 0;
}
.appearingImgContainerLeft {
  max-width: 370px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  img {
    width: 370px;
  }
}
.appearingImgContainerRight {
  max-width: 370px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  right: 0;
  img {
    width: 370px;
  }
}
.visible {
  opacity: 1;
  transition-duration: 1.5s;
}
.participantsWrapper {
  max-width: 780px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
  position: absolute;
  left: 398px;
  text-align: center;
}

.participantTextContainer {
  width: 732px;
  margin-top: 180px;
  color: #fff;
}
.participantTitle {
  text-align: center;
  font-weight: 600;
  font-size: 62px;
  line-height: 90%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.participantText {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 643px;
  margin-right: auto;
  margin-left: auto;
}
.participantImgContainer {
  max-width: 570px;
  max-height: 536px;
  margin-left: 63px;
  margin-top: 98px;

  opacity: 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}
.visibleImg {
  opacity: 1;
  transition-duration: 1.5s;
}

.findOutBtn {
  width: 433px;
  height: 54px;
  color: #fff;
  margin-bottom: 24px;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  &:hover {
    background-color: #fff;
  }
}
.fadeInOut {
  opacity: 0;
  color: black;
  transition: opacity 0.8s linear, transform 1.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.fadeInOut.visible {
  opacity: 1;
}
.btnModalContainer {
  display: flex;
  max-width: 342px;
  row-gap: 12px;
  column-gap: 12px;
  margin-right: auto;
  margin-left: auto;
}
.waysSection {
  background-image: url('../../assets/section.png');
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  max-height: 1008px;
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  background-color: #fff;
}
.waysTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 60px;
  text-align: center;
}
.waysCards {
  display: flex;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
}

.starContainer {
  position: absolute;
  top: 140px;
  right: 100px;
  z-index: 11;
}

.groupStarContainer {
  left: 103px;
  top: 392px;
  position: absolute;
  // z-index: 1;
  img {
    width: 135px;
    height: 133px;
  }
}

.bgBox {
  background-image: url('../../assets//xl-box.png');
  width: 1100px;
  height: 360px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 5;
  border-radius: 24px;
  box-shadow: 8px 8px 0px 0px #ede4de;
  margin-bottom: 60px;
}
.bgBoxTitle {
  color: #76e5e5;
  padding-top: 44px;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  max-width: 794px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.bgBoxTextContainer {
  justify-content: center;
  align-items: center;
  max-width: 558px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-bottom: 32px;
}
.bgBoxDivider {
  border-bottom: 1px solid #fff;
  width: 91px;
  height: 1px;
  margin-right: 15px;
}
.bgBoxText {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.bgBtnContainer {
  max-width: 165px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.rollingWrapper {
  width: 100%;
  height: 62px;
  overflow: hidden;
}

.itemsForYou {
  background-color: #ede4de;
  max-width: 1440px;
  padding: 40px;
  border-radius: 24px;
}
.commonWrapper {
  display: flex;
  column-gap: 40px;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}
.forYouTextContainer {
  max-width: 640px;
}
.forYouImgContainer {
  max-width: 640px;
  max-height: 820px;
  img {
    width: 100%;
    height: 100%;
  }
}
.stepsSection {
  background-image: url('../../assets/sectionStepsBg.png');
  max-width: 1440px;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0px 17px 0px;
  position: relative;
}
.textStepsContainer {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.stepsTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  max-width: 590px;
  text-align: left;
  margin-bottom: 70px;
  position: relative;
  z-index: 10;
}
.cardsBookingCall {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
}
.hubsOpportunitiesSection {
  background-image: url('../../assets/sectionHubsOpp.png');
  max-width: 1440px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 120px;
}
.hubsContainer {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.hubsTitle {
  max-width: 435px;
  text-align: left;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 32px;
}
.opportunitiesImgContainer {
  max-width: 657px;
  max-height: 520px;
  margin-right: 50px;
  img {
    width: 657px;
    height: 520px;
    border-radius: 24px;
  }
}
.opportunitiesTextContainer {
  max-width: 793px;
  margin-bottom: 30px;
}
.opportunitiesText {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.lastSection {
  background-image: url('../../assets/lastHubEmploymentSectionBg.png');
  max-width: 1440px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.activityWrapper {
  display: flex;
  max-width: 1440px;
  position: relative;
}
.activityImgContainer {
  max-width: 708px;
  max-height: 500px;
  margin-right: 24px;
  img {
    width: 100%;
    height: 100%;
  }
}
.activityTextContainer {
  max-width: 708px;
  width: 100%;
  padding-top: 140px;
  position: relative;
  padding-left: 24px;
}
.social {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 12px;
  color: #ee3524;
}
.socialTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  margin-bottom: 22px;
}
.socialText {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 22px;
  max-width: 493px;
}

.circlesContainer {
  overflow: hidden;
  position: absolute;
  top: -15px;
  right: 0;
  img {
    width: 260px;
    height: 222px;
  }
}

.learnMore {
  width: 129px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #ee3524;
  background: #ee3524;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  &:hover {
    color: #ee3524;
    background-color: #fff;
  }
}
.underlineStepsContainer {
  position: absolute;
  top: 152px;
  left: 170px;
  z-index: 1;
}

.outlineText {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
}
.text {
  color: #000;
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
}
.donateNowBtn {
  margin-top: 100px;
  width: 433px;
  height: 54px;
  color: #fff;
  margin-bottom: 24px;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  &:hover {
    background-color: #fff;
  }
}
.donateNowBtnEnquire {
  margin-top: 40px;
  width: 433px;
  height: 54px;
  color: #fff;
  margin-bottom: 24px;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  &:hover {
    background-color: #fff;
  }
}

.enquireTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}
@media (max-width: 1350px) {
  .participantsWrapper {
    left: 340px;
  }
  .starContainer {
    right: 70px;
  }
  .underlineContainer {
    left: 770px;
  }
}

@media (max-width: 1300px) {
  .commonWrapper {
    flex-direction: column-reverse;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
  }

  .forYouTextContainer {
    max-width: 664px;
  }

  .opportunitiesImgContainer {
    max-width: 657px;
    max-height: 520px;
    margin-right: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .circlesContainer {
    overflow: hidden;
    position: absolute;
    top: 24px;
    right: 0;
    img {
      width: 111px;
      height: 95px;
    }
  }
  .activityTextContainer {
    padding-top: 125px;
    max-width: 360px;
  }
  .underlineStepsContainer {
    position: absolute;
    left: 98px;
    z-index: 1;
  }
}

@media (max-width: 1200px) {
  .participantsWrapper {
    left: 250px;
  }
  .starContainer {
    right: 0px;
  }
  .groupStarContainer {
    left: 0px;
  }
  .underlineContainer {
    left: 680px;
  }
  .underlineStepsContainer {
    position: absolute;
    left: 45px;
    z-index: 1;
  }
}
@media (max-width: 1133px) {
  .participantsWrapper {
    left: 220px;
  }
  .underlineContainer {
    left: 650px;
  }
  .waysSection {
    padding-top: 60px;
    max-height: 1545px;
    height: 100%;
  }
  .waysTitle {
    margin-bottom: 50px;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
  }
  .waysCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
  }

  .starContainer {
    top: 157px;
    right: 163px;
  }

  .groupStarContainer {
    left: 160px;
    top: 740px;
  }
  .bgBox {
    margin-top: -26px;
    max-width: 696px;
    width: 100%;
    max-height: 360px;
  }
  .bgBoxTitle {
    padding-top: 60px;
    padding-bottom: 32px;
    max-width: 676px;
  }
  .cardsBookingCall {
    display: none;
  }
  .cardsSlider {
    display: block;
  }
  .stepsSection {
    padding: 40px 24px;
  }
  .underlineStepsContainer {
    position: absolute;
    top: 110px;
    left: 20px;
    z-index: 1;
  }
  .roundArrowContainer {
    top: 90px;
    left: 315px;
    z-index: 0;
  }
  .hubsOpportunitiesSection {
    padding: 80px 24px;
  }
  .hubsContainer {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .opportunitiesImgContainer {
    max-width: 657px;
    width: 100%;
    height: 372px;
    margin-right: 0px;
    margin-bottom: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .opportunitiesTextContainer {
    max-width: 696px;
  }
}
@media (max-width: 1070px) {
  .participantsWrapper {
    left: 180px;
  }
  .underlineContainer {
    left: 610px;
  }
  .starContainer {
    right: 130px;
  }
  .groupStarContainer {
    left: 120px;
  }
  .cardsSlider {
    display: block;
  }
}

@media (max-width: 970px) {
  .participantsWrapper {
    left: 125px;
  }
  .underlineContainer {
    left: 555px;
  }
  .starContainer {
    right: 80px;
  }
  .groupStarContainer {
    left: 80px;
  }
}
@media (max-width: 920px) {
  .participantsWrapper {
    left: 100px;
  }
  .underlineContainer {
    left: 530px;
  }
  .starContainer {
    right: 50px;
  }
  .groupStarContainer {
    left: 50px;
  }
  .activityTextContainer {
    padding-top: 40px;
  }
}

@media (max-width: 880px) {
  .participantsWrapper {
    left: 140px;
    max-width: 620px;
  }
  .underlineContainer {
    left: 334px;
    top: 335px;
  }
  .starContainer {
    right: 25px;
  }
}
@media (max-width: 860px) {
  .btnModalContainer {
    display: flex;
    flex-direction: column;
    max-width: 342px;
    row-gap: 12px;
    column-gap: 12px;
    margin-right: auto;
    margin-left: auto;
  }
  .participantTextContainer {
    margin-top: 92px;
  }
  .participantTitle {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .participantText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 70px;
  }
  .underlineContainer {
    left: 59%;
    top: 115px;
    img {
      width: 115px;
    }
  }
  .waysTitle {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
    text-align: center;
  }
  .starContainer {
    right: 395px;
    top: 135px;
    img {
      width: 81px;
      height: 40px;
    }
  }
  .bgBoxTitle {
    padding-top: 71px;
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 28px;
    max-width: 794px;
  }
  .bgBox {
    margin-top: 0px;
    margin-bottom: 14px;
    max-width: 370px;
    height: 400px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 0px 0px 0px #ede4de;
  }
  .bgBoxDivider {
    width: 338px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .bgBoxText {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
  }
  .bgBoxTextContainer {
    justify-content: center;
    align-items: center;
    max-width: 358px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .itemsForYou {
    padding: 40px 16px;
  }
  .forYouImgContainer {
    max-width: 358px;
    max-height: 459px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .stepsTitle {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 358px;
  }
  .underlineStepsContainer {
    top: 86px;
    left: 26px;
    img {
      height: 10px;
    }
  }
  .roundArrowContainer {
    position: absolute;
    top: 62px;
    left: 220px;
  }
  .stepsSection {
    padding: 40px 16px;
  }
  .hubsTitle {
    max-width: 600px;
    font-size: 24px;
    line-height: 26px;
  }
  .opportunitiesImgContainer {
    max-width: 358px;
    max-height: 231px;
    margin-right: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .opportunitiesTextContainer {
    max-width: 100%;
  }
  .opportunitiesText {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .activityTextContainer {
    max-width: 708px;
    width: 100%;
    padding-top: 140px;
    position: relative;
    padding-left: 24px;
  }
  .social {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 12px;
  }
  .socialTitle {
    font-size: 24px;
    line-height: 26px;
  }
  .socialText {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
    max-width: 100%;
  }
  .learnMore {
    width: 342px;
    height: 42px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .circlesContainer {
    overflow: hidden;
    position: absolute;
    top: 24px;
    right: 0;
    img {
      width: 111px;
      height: 95px;
    }
  }
}
@media (max-width: 820px) {
  .participantsWrapper {
    left: 140px;
    max-width: 620px;
  }

  .participantText {
    max-width: 400px;
  }
}
@media (max-width: 790px) {
  .participantsWrapper {
    left: 110px;
    max-width: 620px;
  }
  .underlineContainer {
    left: 60%;
  }
  .starContainer {
    right: -15px;
  }
  .groupStarContainer {
    left: -20px;
  }
  .activityTextContainer {
    padding-top: 10px;
  }
}

@media (max-width: 744px) {
  .participantsWrapper {
    left: 150px;
    max-width: 450px;
  }
  .forYouTextContainer {
    padding-top: 0px;
    margin-top: 0px;
  }

  .underlineContainer {
    left: 39%;
    top: 150px;
    img {
      width: 115px;
    }
  }
  .waysSection {
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 1515px;
    height: 100%;
  }
  .waysTitle {
    max-width: 365px;
    margin-right: auto;
    margin-left: auto;
  }
  .waysCards {
    max-width: 370px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
  }
  .starContainer {
    right: 180px;
  }
  .bgBox {
    margin-top: 0px;
    margin-bottom: 40px;
    max-width: 370px;
    height: 400px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 0px 0px 0px #ede4de;
  }
  .groupStarContainer {
    left: 160px;
    top: 980px;
  }
  .bgBoxTitle {
    padding-top: 24px;
    padding-bottom: 32px;
    max-width: 311px;
    font-size: 32px;
    line-height: 35px;
  }
  .itemsForYou {
    height: 1600px;
  }
  .commonWrapper {
    height: 100%;
  }

  .stepsSection {
    padding: 40px 16px;
  }
  .hubsOpportunitiesSection {
    padding: 80px 16px;
  }
  .sliderWrapper {
    max-width: 350px;
    margin-left: 16px;
  }
  .activityWrapper {
    flex-direction: column;
  }
  .activityImgContainer {
    margin-right: 0;
  }
  .activityTextContainer {
    padding-top: 53px;
    padding-bottom: 24px;
  }
  .learnMore {
    margin-bottom: 53px;
  }
  .outlineText,
  .text {
    font-size: 36px;
    line-height: 43px;
  }
}

@media (max-width: 689px) {
  .forYouImgContainer {
    margin-bottom: 10px;
  }
  .participantsWrapper {
    left: 150px;
    max-width: 450px;
  }
  .underlineContainer {
    left: 43%;
  }
}
@media (max-width: 650px) {
  .participantsWrapper {
    left: 100px;
    max-width: 500px;
  }
  .underlineContainer {
    left: 63%;
    top: 115px;
    img {
      width: 115px;
    }
  }

  .starContainer {
    right: 90px;
  }
  .groupStarContainer {
    left: 120px;
  }
}

@media (max-width: 570px) {
  .participantsWrapper {
    left: 70px;
    max-width: 480px;
  }
  .underlineContainer {
    left: 67%;
    top: 115px;
    img {
      width: 115px;
    }
  }
  .starContainer {
    right: 50px;
  }
  .groupStarContainer {
    left: 70px;
  }
}

@media (max-width: 545px) {
  .participantsWrapper {
    left: 60px;
  }
  .underlineContainer {
    left: 67%;
    top: 115px;
    img {
      width: 115px;
    }
  }
}
@media (max-width: 536px) {
  .roundArrowContainer {
    left: 260px;
  }
  .participantsWrapper {
    left: 50px;
  }
  .underlineContainer {
    left: 67%;
    img {
      width: 115px;
    }
  }
}
@media (max-width: 500px) {
  .participantsWrapper {
    left: 30px;
  }
}

@media (max-width: 480px) {
  .participantsWrapper {
    left: 16px;
  }
  .participantTextContainer {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .starContainer {
    right: 0px;
  }
  .groupStarContainer {
    left: 0px;
  }
  .itemsForYou {
    margin-right: 0px;
    margin-left: 0px;
  }
  .commonWrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .underlineContainer {
    left: 28%;
    top: 150px;
    img {
      width: 115px;
    }
  }
}

@media (max-width: 420px) {
  .groupStarContainer {
    left: -30px;
  }
  .stepsTitle {
    max-width: 270px;
  }
  .underlineContainer {
    left: 34%;
  }
  .underlineStepsContainer {
    left: 80px;
  }
  .roundArrowContainer {
    left: 260px;
  }
}

@media (max-width: 380px) {
  .participantsWrapper {
    left: 0px;
  }
  .underlineContainer {
    left: 120px;
  }
}
