.sliderContainer {
  max-width: 969px;
  overflow: hidden;
  margin-left: -110px;
  margin-right: 0px;
}
.card {
  display: flex;
  max-width: 460px;
  border-radius: 16px;
  border: 1px solid #d7d7d7;
  padding-bottom: 24px;
  height: 252px;
}
.titleContainer {
  display: flex;
  max-width: 330px;
  margin-top: 24px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: flex-start;
}

.imgContainer {
  display: flex;
  text-align: center;
  max-width: 60px;
  margin-right: 16px;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
  }
}
.personalContainer {
  max-width: 328px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ee3524;
  margin-bottom: 2px;
  text-align: left;
}
.position {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.btnContainer {
  margin-left: -419px;
  margin-top: -77px;
  display: flex;
  max-width: 80px;
  height: 50px;
}
.btnRealEstateContainer {
  margin-left: -1325px;
  margin-top: 116px;
  display: flex;
  max-width: 80px;
  height: 50px;
}
.descr {
  max-width: 404px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 1445px) {
  .sliderContainer {
    max-width: 940px;
    overflow: hidden;
    margin-left: -150px;
    margin-right: 0px;
  }
  .btnContainer {
    margin-left: -1253px;
  }
}
@media (max-width: 1380px) {
  .sliderContainer {
    max-width: 700px;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
  }
  .btnContainer {
    margin-left: -1165px;
  }
}
@media (max-width: 1300px) {
  .sliderContainer {
    max-width: 470px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1210px) {
  .sliderContainer {
    max-width: 610px;
  }
}

@media (max-width: 1070px) {
  // .sliderContainer {
  //   max-width: 385px;
  // }
  .sliderContainer {
    max-width: 500px;
  }
}
@media (max-width: 860px) {
  .card {
    max-width: 312px;
    padding-bottom: 45px;
    height: 279px;
  }
  .descr {
    max-width: 256px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 540px) {
  .sliderContainer {
    max-width: 385px;
  }
}
