.titleSection {
  max-width: 1440px;
  display: flex;
  position: relative;
  background: #f8f8f8;
  border-radius: 0px 0px 24px 24px;
}
.detailsImgContainer {
  max-width: 612px;
  max-height: 750px;

  margin-right: 56px;
  img {
    width: 612px;
    height: 750px;
    border-bottom-left-radius: 24px;
  }
}
.textContainer {
  max-width: 632px;
  margin-top: 249px;
  span {
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
  }
}
.detailsTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 78px;
  letter-spacing: 0.02em;
  color: #ba291c;
  margin-bottom: 12px;
}
.detailsSubTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #151515;
  margin-bottom: 12px;
}
.doodleImgContainer {
  position: absolute;
  top: -50px;
  left: 533px;
  rotate: 90deg;
  img {
    width: 145px;
    height: 145px;
  }
}
.waveContainer {
  position: absolute;
  right: -33px;
  bottom: 39px;
  img {
    width: 198px;
    height: 32px;
  }
}
.descriptionSection {
  max-width: 1440px;
  padding: 60px 140px;
}
.annotationText {
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  margin-bottom: 60px;
}
.gridContainer {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 76px;
  row-gap: 60px;
  margin-bottom: 60px;
}
.gridCard {
  max-width: 545px;
}
.cardTitle {
  color: #ba291c;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.cardText {
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-align: justify;
}
.textImgContainer {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  img {
    width: 100%;
    border-radius: 24px;
  }
}
.aboutText {
  color: #ba291c;
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
}
