.baseBtn {
  width: 204px;
  height: 54px;
  border-radius: 40px;
}

.clicked {
  background-color: rgb(88, 92, 92);
}
.btnSumm {
  width: 128px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #ba291c;
  color: #ba291c;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.redBtn {
  background: #ba291c;
  color: #fff;
  margin-right: 12px;
  &:hover {
    background-color: #fff;
    color: #ba291c;
    border: 1px solid #ba291c;
  }
}

.whiteBtn {
  background-color: #fff;
  color: #ba291c;
  border: 1px solid #ba291c;
  &:hover {
    background: #ba291c;
    color: #fff;
  }
}
