header {
  color: #151515;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 42px;
  height: 45px;
}

.logoText {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  margin-left: 12px;
}
.burgerMenuContainer {
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  margin-right: 20px;
  img {
    width: 30px;
    height: 30px;
  }
}

.navbarItem {
  color: #151515;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-right: 32px;
  &:hover {
    color: #ba291c;
  }
  &.active {
    color: inherit;
  }
}

.btnRequestDemoHeader {
  width: 149px;
  height: 36px;
  color: #ffffff;
  border: 1px solid #ba291c;
  margin-right: 20px;
  padding: 16px 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
}
.buyNow {
  display: flex;
  width: 96px;
  height: 36px;
  color: #ba291c;
  border: 1px solid #ba291c;
  padding: 16px 6px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #f8f8f8;
}

.btnContainer {
  border: 1px solid black;
  display: flex;
  margin-left: 15px;
}
.leftSideContainer {
  display: flex;
  align-items: center;
  height: 40px;
  img {
    width: 38px;
    height: 40px;
  }
}

@media (max-width: 1300px) {
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

@media (max-width: 1030px) {
  .logoText {
    max-width: 260px;
    display: block;
    font-size: 14px;
    line-height: 21px;
  }
  .logoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 80px;
  }
}

@media (max-width: 980px) {
  .btnRequestDemoHeader {
    margin-bottom: 20px;
  }
  .buyNow {
    width: 149px;
  }
  .navbarItem {
    margin-right: 0px;
  }
}
@media (max-width: 550px) {
  .logoText {
    display: none;
  }
}
