.slider {
  margin: 0 0px;
  max-width: 1160px;
}

@media (max-width: 1200px) {
  .slider {
    margin: 0 0px;
    max-width: 850px;
  }
}
@media (max-width: 1135px) {
  .slider {
    max-width: 750px;
  }
}

@media (max-width: 990px) {
  .slider {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .slider {
    max-width: 500px;
  }
}

@media (max-width: 520px) {
  .slider {
    margin: 0 auto;
    width: 358px;
  }
}
