main {
  max-width: 1440px;
  background: #f8f8f8;
  position: relative;
}

.searchSection {
  padding-top: 11px;
  padding-bottom: 86px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  justify-content: left;
  position: relative;
}

.searchItemFocused {
  margin-right: 50px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  font-size: 19px;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  max-width: 865px;
  margin-bottom: 85px;
}
.aboutUsHeader {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.02em;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
}
.btnRequestDemo {
  width: 224px;
  height: 54px;
  color: #ffffff;
  border: 1px solid #ba291c;
  margin-right: 24px;
  padding: 9px 24px;
  font-size: 20px;
  font-weight: 400;
  background-color: #ba291c;
  border-radius: 40px;
  font-family: 'Kanit', sans-serif;
}

.ourMissionContainer {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
}
.missionTextContainer {
  max-width: 537px;
  margin-right: 53px;
}

.missionDescription {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}
.missionImgContainer {
  max-width: 570px;
  max-height: 390px;
  img {
    width: 570px;
    height: 390px;
    border-radius: 12px;
  }
}
.missionImgContainerResponsive {
  display: none;
}

.waveContainer {
  position: absolute;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 70px;
  z-index: 10;
  overflow: hidden;
  img {
    width: 118px;
    height: 15px;
  }
}

.supportSection {
  max-width: 1660px;
  margin-right: 140px;
  margin-left: 140px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.supportTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 537px;
  margin-right: 53px;
  margin-bottom: 86px;
}
.supportHeader {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}
.supportDescription {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.supportImgContainer {
  max-width: 570px;
  max-height: 390px;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.doodleContainer {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 425px;
  max-width: 120px;
  z-index: 10;
  img {
    width: 100%;
    height: 120px;
  }
}
.getSupportSection {
  max-width: 1440px;
  background-color: #fff;
  padding: 80px 140px;
  position: relative;
}

.getSupportHeader {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.getSupportHeaderSecond {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  margin-bottom: 12px;
  letter-spacing: 0.02em;
}
.getSupportHeaderAdditional {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  margin-bottom: 12px;
  letter-spacing: 0.02em;
  color: #ba291c;
}
.getSupportDescription {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 60px;
  max-width: 865px;
}
.supportedImpactDescription {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 60px;
  max-width: 865px;
}
.supportSpan {
  font-weight: 600;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 1160px;
}
.cardsContainerSlider {
  display: none;
}

.ellipseContainer {
  position: absolute;
  right: 0px;
  bottom: 83px;
  overflow: hidden;
  img {
    width: 103px;
    height: 103px;
  }
}
.ellipseContainer2 {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 43px;
  z-index: 10;
  img {
    width: 103px;
    height: 103px;
  }
}

.becomeCustomer {
  background-color: #f8f8f8;
  max-width: 1440px;
  padding: 80px 140px 78px 140px;
}

.getSupportText {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  max-width: 754px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.chipContainer {
  margin-top: 40px;
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 24px;
}

.supportedImpact {
  max-width: 1440px;
  background-color: #fff;
  padding: 80px 140px 89px 140px;
  position: relative;
}

.supportImpactText {
  max-width: 865px;
  font-weight: 300;
  margin-bottom: 60px;
  position: relative;
}

.chartContainer {
  display: flex;
  max-width: 1160px;
  column-gap: 85px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.chartItem {
  display: flex;
  flex-direction: column;
  max-width: 387px;
  img {
    width: 387px;
    height: 387px;
  }
}
.chartHeader {
  max-width: 275px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.02em;
}

.chartDescr {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 275px;
  margin-right: auto;
  margin-left: auto;
}
.percent {
  text-align: center;
  display: flex;
  position: absolute;
  top: 120px;
  left: 42%;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.upperText {
  position: absolute;
  top: 153px;
  left: 50px;
  max-width: 181px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.percentDown {
  text-align: center;
  display: flex;
  position: absolute;
  bottom: 173px;
  left: 43%;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.downText {
  position: absolute;
  top: 256px;
  left: 80px;
  max-width: 181px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.percentSecondLeft {
  position: absolute;
  top: 148px;
  left: 58px;
  max-width: 111px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
}
.upperTextSecond {
  position: absolute;
  top: 176px;
  left: 58px;
  max-width: 110px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
}

.percentSecondRight {
  position: absolute;
  top: 172px;
  right: 62px;
  max-width: 111px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
}
.downTextSecond {
  position: absolute;
  top: 201px;
  right: 50px;
  max-width: 59px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ellipseContainerImpact {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 50px;
  img {
    width: 103px;
    height: 103px;
  }
}
.ellipseContainer2Impact {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0px;
  z-index: 10;
  img {
    width: 103px;
    height: 103px;
  }
}
.storiesImpact {
  max-width: 1440px;
  padding: 80px 140px 75px 140px;
  background-color: #f8f8f8;
}

.getSupportTextAdditional {
  max-width: 1160px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}
.getSubSupportText {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}
.supportedCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 61px;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}
.socialStyles {
  position: relative;
  max-width: 1440px;
  background-color: #fff;
  padding: 80px 140px 32px 140px;
}

.socialHeader {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  letter-spacing: 0.02em;
}

.socialImgContainer {
  display: flex;
  max-width: 1160px;
  column-gap: 20px;
}

.socialLeftImgContainer {
  max-width: 373px;
  margin-bottom: 26px;
  img {
    width: 100%;
  }
}
.socialRightImgContainer {
  max-width: 767px;
  img {
    width: 100%;
  }
}

.socialTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  max-width: 750px;
  text-align: left;
  margin-top: 26px;
  letter-spacing: 0.02em;
}
.linkContainer {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin: 0 auto;
  color: #151515;
  font-weight: 300;
}
.linkLearnMore {
  color: #151515;
}
.linkLearnMore,
a:visited {
  color: #151515;
}

.ellipseContainerSocial {
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 494px;
  img {
    width: 103px;
    height: 103px;
  }
}
.ellipseContainer2Social {
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 441px;
  z-index: 10;
  img {
    width: 103px;
    height: 103px;
  }
}
.subscribeContainer {
  display: flex;
  padding: 60px 140px;
  column-gap: 20px;
}
.subscribeImgContainer {
  max-width: 668px;
  img {
    width: 100%;
  }
}
.form {
  max-width: 472px;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #ee3524;
}
.formTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 0.02em;
}
.itemContainer {
  max-width: 424px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.subscribeInput {
  width: 424px;
  height: 59px;
  border: 1px solid #cecece;
  border-radius: 90px;
  padding-left: 24px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  background-color: #f8f8f8;

  &:focus {
    border: 1px solid #cecece;
    outline: none !important;
  }
}
.btnSubscribe {
  width: 424px;
  height: 54px;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #ba291c;
}
.helperText {
  color: #d32f2f;
  font-size: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
}
.chipContainer {
  display: flex;
}

.donateBtnContainer {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.redBtn {
  background: #ba291c;
  color: #fff;
  margin-right: 12px;
  width: 204px;
  height: 54px;
  border-radius: 40px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  &:hover {
    background-color: #fff;
    color: #ba291c;
    border: 1px solid #ba291c;
  }
}

.whiteBtn {
  background-color: #fff;
  color: #ba291c;
  border: 1px solid #ba291c;
  width: 204px;
  height: 54px;
  border-radius: 40px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  &:hover {
    background: #ba291c;
    color: #fff;
  }
}

.btnSumm {
  width: 128px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #ba291c;
  background-color: #fff;
  color: #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.btnSumm2 {
  width: 128px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #ba291c;
  background-color: #ba291c;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.clicked {
  background-color: rgb(88, 92, 92);
  width: 128px;
  height: 54px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.clickedPeriod {
  background-color: rgb(88, 92, 92);
  width: 204px;
  height: 54px;
  border-radius: 40px;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.otherInput {
  width: 433px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  padding-left: 12px;
  margin-bottom: 149px;
  outline: none;
}

.donateNowBtn {
  width: 433px;
  height: 54px;
  color: #fff;
  // margin-bottom: 24px;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.donateNowBtnVolunteer{
  width: 433px;
  height: 54px;
  color: #fff;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background: #ba291c;
  margin-top: 20px;
  cursor: pointer;
  border-radius:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    text-decoration: none;
  }
}
.donateNowBtnWhite {
  width: 433px;
  height: 54px;
  background: #fff;
  color: #ba291c;
  margin-bottom: 24px;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.callTeam {
  width: 433px;
  height: 54px;
  color: #ba291c;
  border: 1px solid #ba291c;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.donateContainer {
  // margin-top: 79px;
  // margin-top: 110px;
}
.serviceContainer {
  // margin-top: 40px;
  margin-top: 79px;
}
@media (max-width: 1388px) {
  .doodleContainer {
    position: absolute;
    left: 0px;
    top: 530px;
    max-width: 120px;
    z-index: 10;
    img {
      width: 100%;
      height: 120px;
    }
  }
}

@media (max-width: 1300px) {
  .cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 800px;
  }

  .ourMissionContainer {
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .missionTextContainer {
    max-width: 560px;
    margin-bottom: 20px;
  }
  .missionDescription {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .supportedCardContainer {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    max-width: 800px;
  }
  .missionImgContainer {
    display: none;
  }
  .missionImgContainerResponsive {
    display: flex;
    max-width: 570px;
    max-height: 390px;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .searchSection {
    padding-bottom: 30px;
    padding-top: 10px;
    margin-right: 0;
    margin-left: 0;
  }
  .doodleContainer {
    position: absolute;
    left: 0px;
    top: 820px;
    max-width: 120px;
    z-index: 10;
    img {
      width: 100%;
      height: 120px;
    }
  }
  .chipContainer {
    max-width: 1120px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .socialImgContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    column-gap: 20px;
  }
  .subscribeContainer {
    flex-direction: column;
    row-gap: 20px;
    max-width: 100%;
  }
  .form {
    margin-right: auto;
    margin-left: auto;
  }
  .btnWrapper {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    row-gap: 16px;
  }
  .btnRequestDemo {
    width: 358px;
    height: 42px;
    margin-right: 0px;
    padding: 9px 24px;
    font-size: 16px;
  }
}
@media (max-width: 1305px) {
  .chartContainer {
    column-gap: 30px;
    justify-content: center;
  }
}
// @media (max-width: 1205px) {
//   .chartContainer {
//     flex-direction: column;
//     max-width: 300px;
//     row-gap: 40px;
//   }
// }
@media (max-width: 1190px) {
  .redBtn,
  .whiteBtn,
  .btnSumm,
  .btnSumm2 {
    height: 42px;
    font-size: 14px;
    line-height: 21px;
  }
  .otherInput {
    height: 42px;
    margin-bottom: 70px;
  }

  .donateNowBtnWhite,
  .donateNowBtn,
  .donateNowBtnVolunteer,
  .callTeam {
    width: 290px;
    height: 42px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 860px) {
  .searchSection {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .waveContainer {
    right: 0px;
    top: 35px;
    img {
      width: 90px;
      height: 12px;
    }
  }
  .searchItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    justify-content: center;
  }
  .ourMissionContainer {
    margin-left: 0px;
    text-align: left;
    max-width: 100%;
  }
  .aboutUsHeader {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 34px;
  }
  .missionDescription {
    font-size: 14px;
    line-height: 21px;
  }
  .missionImgContainer {
    max-width: 358px;
    max-height: 244px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .doodleContainer {
    top: 666px;
    max-width: 62px;
    img {
      width: 100%;
      height: 62px;
    }
  }
  .getSupportHeader {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 12px;
  }
  .getSupportDescription {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
  }
  .supportedImpactDescription {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 50px;
  }
  .getSupportSection {
    padding: 80px 16px 56px 16px;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .cardsContainer {
    display: none;
  }
  .cardsContainerSlider {
    display: flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .ellipseContainer {
    bottom: -10px;
    img {
      width: 49px;
      height: 50px;
    }
  }
  .ellipseContainer2 {
    bottom: -35px;
    img {
      width: 49px;
      height: 50px;
    }
  }
  .ellipseContainerSocial {
    position: absolute;
    overflow: hidden;
    right: 0px;
    bottom: 30px;
    img {
      width: 49px;
      height: 50px;
    }
  }
  .ellipseContainer2Social {
    position: absolute;
    overflow: hidden;
    right: 0px;
    bottom: 10px;
    z-index: 10;
    img {
      width: 49px;
      height: 50px;
    }
  }
  .becomeCustomer {
    background-color: #f8f8f8;
    max-width: 100%;
    padding: 40px 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .chipContainer {
    row-gap: 16px;
    margin-top: 24px;
  }
  .getSupportText {
    font-size: 14px;
    line-height: 22px;
  }
  .supportedImpact {
    max-width: 560px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: #fff;
    padding: 100px 0px 100px 0px;
    position: relative;
  }
  .chartItem {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .chartHeader {
    max-width: 239px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 16px;
  }
  .chartDescr {
    font-size: 14px;
    line-height: 21px;
    max-width: 275px;
    margin-right: auto;
    margin-left: auto;
  }
  .storiesImpact {
    max-width: 100%;
    padding: 50px 16px;
    background-color: #f8f8f8;
    // margin-right: 0;
    // margin-left: 16px;
  }
  .getSupportHeaderSecond,
  .getSupportHeaderAdditional {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .getSupportTextAdditional {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
  .getSubSupportText {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .socialStyles {
    position: relative;
    max-width: 100%;
    background-color: #fff;
    padding: 60px 16px;
  }
  .socialHeader {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  .socialLeftImgContainer {
    margin-bottom: 24px;
  }
  .socialTitle {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: 12px;
  }
  .linkContainer {
    font-size: 14px;
    line-height: 22px;
  }
  .subscribeContainer {
    display: flex;
    padding: 60px 16px;

    column-gap: 20px;
    max-width: 560px;
  }
  .subscribeImgContainer {
    max-width: 358px;
    img {
      width: 100%;
    }
  }
  .form {
    max-width: 358px;
    border-radius: 20px;
    padding: 24px 14px;
    border: 1px solid #ee3524;
    margin-right: 0px;
    margin-left: 0px;
  }
  .formTitle {
    font-size: 24px;
    line-height: 36px;
  }
  .subscribeInput {
    width: 310px;
    height: 48px;

    font-size: 16px;
    line-height: 24px;
  }
  .btnSubscribe {
    width: 310px;
    height: 42px;
    line-height: 24px;
    font-size: 16px;
  }
  .ellipseContainerImpact {
    bottom: -15px;
    img {
      width: 49px;
      height: 50px;
    }
  }
  .ellipseContainer2Impact {
    bottom: -30px;
    img {
      width: 49px;
      height: 50px;
    }
  }
}
@media (max-width: 740px) {
  .missionImgContainerResponsive {
    max-width: 358px;
    max-height: 244px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .missionTextContainer {
    max-width: 358px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 555px) {
  .upperText {
    font-size: 14px;
    line-height: 20px;
    max-width: 110px;
    left: 80px;
  }
  .downText {
    top: 270px;
    left: 95px;
    font-size: 14px;
    line-height: 20px;
  }
  .upperTextSecond {
    top: 185px;
    left: 58px;
    max-width: 50px;
    font-size: 14px;
    line-height: 20px;
  }
  .downTextSecond {
    top: 205px;
    right: 70px;
    max-width: 59px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 520px) {
  .searchItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .doodleContainer {
    top: 620px;
  }

  .waveContainer {
    right: 0px;
    top: 45px;
  }
}
