.participantServicesSection {
  background-image: url('../../assets/Get support.Last..png');
  max-width: 1440px;
  height: 851px;
  position: relative;
}
.appearingImgContainerLeft {
  max-width: 370px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  img {
    width: 370px;
  }
}
.appearingImgContainerRight {
  max-width: 370px;
  z-index: 9;
  position: absolute;
  opacity: 0;
  right: 0;
  img {
    width: 370px;
  }
}
.visible {
  opacity: 1;
  transition-duration: 1.5s;
}
.participantsWrapper {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  margin-right: 140px;
  margin-left: 140px;
}

.participantTextContainer {
  max-width: 1160px;
  margin-top: 102px;
  margin-bottom: 40px;
  color: #fff;
}
.participantTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.02em;
}
.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
  max-width: 1160px;
}

.visibleCards {
  opacity: 1;
  transition-duration: 2s;
}
.card {
  max-width: 347px;
  border-radius: 16px;
  border: 1px solid #ede4de;
  box-shadow: 8px 8px 0px 0px #0000000d;
  padding-bottom: 16px;
  img {
    width: 100%;
    height: 220px;
    margin-bottom: 16px;
  }
  .link {
    color: #fff;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &:hover {
      text-decoration: underline;
    }
  }
  .link,
  a:visited,
  a {
    color: #fff;
  }
}
.cardTitle {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-left: 20px;
}
.cardText {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  height: 185px;
}

.cardsWrapperSlider {
  display: none;
}

@media (max-width: 1300px) {
  .participantServicesSection {
    height: 960px;
  }
  .cardsWrapper {
    display: none;
  }
  .cardsWrapperSlider {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    max-width: 1380px;
    border: 1px solid red;
  }
}

@media (max-width: 960px) {
  .cardsWrapperSlider {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
  }
  .participantServicesSection {
    height: 1020px;
  }
}

@media (max-width: 860px) {
  .participantsWrapper {
    margin-right: 16px;
    margin-left: 16px;
  }
  .participantTextContainer {
    margin-top: 64px;
    margin-bottom: 24px;
  }
  .participantTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }
  .participantServicesSection {
    height: 720px;
  }
  // .cardsWrapper {
  //   column-gap: 16px;
  //   row-gap: 16px;
  // }
  .cardTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  .cardText {
    font-size: 14px;
    line-height: 21px;
    height: 161px;
  }
  .link {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 460px) {
  .participantServicesSection {
    height: 780px;
  }
}
